<div class="container my-5">
    <h1 class="mb-3">Add new category</h1>
</div>


<div class="row">
    <div class="col-6">
        <form #form="ngForm" (ngSubmit)="addCategory()">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addCategoryRequest.name">
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Slug</label>
                <input type="text" class="form-control" id="slug" name="slug" [(ngModel)]="addCategoryRequest.slug">
            </div>
            <button type="submit" class="btn btn-primary">Sumbit</button>
        </form>
    </div>
</div>