<header class="main-header">
  <a class="navbar-brand" [routerLink]="['/products', '']">
    <img class="logo" src="/assets/brand/MrWoody.svg">
  </a>
  <div class="search-panel">
    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search...">
    </div>
    <button class="search-button">
      <img class="search-logo" src="/assets/brand/search.svg">
    </button>
  </div>
  <a class="nav-item">  
    <img class="call" src="/assets/brand/call.svg" alt="Call">
    <span class="call-text">Call now</span>
  </a>
</header> 

<nav class="main-nav">
  <div class="container-fluid">
    <a class="nav-item" [routerLink]="['/products', '']">
      <img class="menu-burger" src="/assets/brand/menu-burger.svg" alt="Menu">
    </a>
    <a class="nav-item" href="#">
      <img class="shopping-cart" src="/assets/brand/shoping-cart.svg">
    </a>
    <a class="nav-item" href="#">
      <img class="user" src="/assets/brand/user.svg" alt="User">
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
