body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #193025;
    height: 80px;
    align-items: center;
    z-index: 1;
}

.logo {
    margin-left: 72px;
    margin-top: 26px;
    margin-bottom: 26px;
    width: 196px;
    height: 28px;
    z-index: 2;
}

.main-nav {
    display: flex;
    background: var(--gradient, linear-gradient(135deg, #7DE378 0%, #07D491 100%));
    height: 40px;
    z-index: 1;
}

.nav-item {
    text-decoration: none;
    /* height: 50px;
    margin: auto; */
}

.menu-burger {
    margin-left: 72px;
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 2;
}

.call {
    margin-top: 28px;
    margin-bottom: 28px;
    z-index: 2;
}

.call-text {
    margin-top: 2px;
    margin-left: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    height: 24px;
    width: 72px;
}

.search-input {
    width: 100%;
    background: none;
    border: none;
    padding: 8px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    outline: none;
    z-index: 2;
}

.search-panel {
    width: 96%;
    height: 1px; 
    background: rgba(255, 255, 255, 0.60);
    margin-top: 56px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
}

.search-bar { 
    margin-bottom: 40px;
    width: 100%;
}

.search-button {
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    z-index: 2;
}

.search-logo {
    width: 24px;
    height: 24px;
    z-index: 2;
}

.shopping-cart {
    float: right;
    margin-right: 72px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.user {
    float: right;
    margin-right: 38px;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
    header {
        height: 110px;
    }

    .logo {
        margin-bottom: 0px; 
        margin-left: 0px; 
        width: 150px;
    }
}


@media screen and (max-width: 720px) {
    header {
        height: 120px;
    }

    .logo {
        margin-bottom: 0px; 
        margin-left: -70px; 
        width: 196px;
    }

    .call-text {
    display: none;
}
}

@media screen and (max-width: 540px) {
    .logo {
        width: 108px;
        margin-left: 4px;
    }

    .search-panel{
    width: 93%;
    margin-top: 22px;
    margin-bottom: -13px;
    }

    .search-bar {
    margin-bottom: 26px;
}
}

@media screen and (max-width: 360px) {
    .logo {
        width: 76px;
        margin-left: -7px;
    }
}
