<div class="account">
    
  <form 
  [formGroup] = "form"
  (ngSubmit)="onSubmit()">

    <h2>Sign up</h2>

    <div class="form-group">
      <label for="name">Имя</label>
      <input type="text" id="name" formControlName = "name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" formControlName = "email">
      <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">error</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName = "password">
      <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched">error</span>
    </div>
    <div class="btn">
      <button type="submit">Зарегистрироваться</button>
    </div>
  </form>

</div>